
 .navbar{
    padding:10px;
    background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f5af19, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f5af19, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.navbar ul{
    list-style: none;
    display: flex;
    margin:0;
    padding:0;
    justify-content: right;
}
.navbar a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 18px;
    padding:10px;
}
.navbar h1{
    justify-content: left;
}
