
    
  
    .dcard {
      width: 280px;
      height: 400px;
      float: left;
      border-radius: 8px;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      position: relative;
      top: 0;
      text-align: center;
      transition: all 0.25s;
      background-color: burlywood;
      font-family: cursive;
  
      &:nth-child(2) {
        margin: 0 50px;
      }
  
      &:hover {
        top: -15px;
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
      }
  
      h4 {
        font-weight: 600;
        font-size: 20px;
      }
  
      p {
        padding: 0 1rem;
        font-size: 19px;
        font-weight: 300;
      }
  
      .dogbtn {
       
            border-radius:5px;
            width:60%;
            padding:0.7rem;
            border:none;
            background-color:rgb(112, 54, 22);
            color:white;
            margin: 12%;
            font-family: cursive;
            cursor: pointer;
        
        
      }
      .dogbtn:hover{
        background-color: rgb(79, 22, 22);
      }
    }
 
  

.dgcont{
    /* background-color: brown; */
    height:70vh;
    width:80vw;
    margin-left:17%;
    margin-top: 3%;
    /* margin-top: 10%; */
}
.dgcont2{
    /* background-color: brown; */
    height:70vh;
    width:80vw;
    margin-left:17%;
    margin-top: 3%;
    /* margin:9%; */
    /* top: 10%; */
}
.dgcont3{
    /* background-color: brown; */
    height:70vh;
    width:80vw;
    margin-left:17%;
    margin-top: 3%;
    /* margin:9%; */
    /* top: 10%; */
}
.dgcont4{
    /* background-color: brown; */
    height:70vh;
    width:80vw;
    margin-left:17%;
    margin-top: 3%;
    /* margin:9%; */
    /* top: 10%; */
}
.dhead{
    /* background:rgba(98, 44, 26, 0.568); */
    height: 20vh;
    width:30vw;
    margin-left: 11%;
    text-align: center;
  }
  .dhead svg{
  fill:brown;

}
.footy{
    /* background-color: yellow; */
    height: 30vh;
    width:99vw;
    margin-top: 3%;
}
.dhead h1{
    font-family: cursive;
    font-size: 5.5rem;
}
.sizereduce{
  height:13rem;
  width:20rem;
}