body{
    /* background-color: blue; */
    margin:0;
    overflow-x: hidden;
    background-color: rgb(245, 241, 234);
}

.textdiv{
    height:50vh;
    width:80vw;
    margin:8%;
    margin-top: 4%;
    background-color: burlywood;
    font-family: cursive;
}
.navi svg{
    fill:rgb(240, 231, 169);
}

.first{
    /* background-color: blueviolet; */
    display: flex;
    height:50vh;
    width:100vw;

    gap:3rem;
}
.first h1{
    padding-bottom: 20px;
}
.second h1{
    padding-bottom: 20px;
}
.thrid h1{
    padding-bottom: 20px;
}

.firstpic{
    /* background-color: black; */
    height:40vh;
    width:20vw;
    margin:3%;
    margin-left:8%;
    border-radius: 10px;
}

.firstData{
    /* background-color: brown; */
    height:30vh;
    width:50vw;
    margin:5%;
    font-family: cursive;
}

.second{
    display: flex;
    height:50vh;
    width:100vw;
    background-color:burlywood;
    gap:3rem;
}

.secondpic{
    /* background-color: black; */
    height:40vh;
    width:20vw;
    margin:3%;
    border-radius: 10px;
    margin-left:8%;
}

.secondData{
 
    height:30vh;
    width:50vw;
    margin:5%;
    font-family: cursive;
}
.thrid{
    display: flex;
    height:50vh;
    width:100vw;
    
    gap:3rem;
}

.thridpic{
   
    height:40vh;
    width:20vw;
    margin:4%;
    margin-left:8%;
    border-radius: 10px;
}

.thridData{
    /* background-color: brown; */
    height:30vh;
    width:50vw;
    margin:5%;
    font-family: cursive;
}
.textdiv h1{
    margin:3%;
    /* margin-left: 12%; */
    /* margin-top: 13%; */
    text-align: center;
    font-size: 4rem;
}
.textdiv h2{
    text-align: center;
    width: 70vw;
    height:5vh;
    font-size: 1.3rem;
    font-weight: 100;
    margin: 3%;
    /* background-color: aquamarine; */
}
.auth-btn {
    border-radius: 10px;
    /* width: 80%; */
    padding: 1rem;
    border: none;
    background-color: rgb(71, 43, 25);
    color: rgb(245, 236, 236);
    /* font-family: cursive; */
    margin-left: 29rem;
    margin-top: 5%;
    font-family: cursive;
    cursor: pointer;
}
.auth-btn:hover{
    background-color: rgb(102, 31, 31);
}
.emergency{
 height:30vh;
    width:100vw;
    background-color:burlywood;
    padding: 5px;
    /* display: flex; */
    text-align: center;
}
.fourData{
   text-align: center;
   height:15vh;
   width:100vw;
   background-color: yellow;
   font-family: cursive;
}
.fourPic{
    
    background-color: rgb(231, 22, 22);
    border-radius: 5px;
    font-family: cursive;
    padding: 1rem;
    border: none;
    color: white;
    margin-right: 5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.emer{
    /* background-color: blue; */
    height:15vh;
    width:10vw;
    /* padding-left:2%; */
    margin-left: 45%;
}
.fourPic:hover{
    background-color: rgba(128, 47, 47, 0.573);
}
.navi{
   
    padding: 1.5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
     background-color:rgb(114, 47, 47);
    /* justify-content: end; */
   
}
.navi h2{
    justify-content:start;
    align-items: flex-start;
    font-size: 2rem;
    font-family: cursive;
    
}

.navi ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: end;
    padding-right: 40px;
}


.navi .in{
    text-decoration: none;
    /* color: black; */
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.navi h1 {
    margin: 0; 
    font-family: cursive;
}
.in:hover{
color:rgb(252, 249, 249);
background-color: rgb(165, 72, 72);
}    

