body{
    background-color: blue;
    margin:0;
    overflow-x: hidden;
}

.textdiv{
    height:50vh;
    width:80vw;
    margin:8%;
    margin-top: 5%;
    /* background-color: red; */
    
}

.first{
    display: flex;
    height:50vh;
    width:100vw;
    /* background-color: aqua; */
    gap:3rem;
}

.firstpic{
    /* background-color: black; */
    height:40vh;
    width:20vw;
    margin:3%;
    margin-left:8%;
    border-radius: 10px;
}

.firstData{
    /* background-color: brown; */
    height:30vh;
    width:50vw;
    margin:7%;
}

.second{
    display: flex;
    height:50vh;
    width:100vw;
    /* background-color: rgb(106, 11, 196); */
    gap:3rem;
}

.secondpic{
    /* background-color: black; */
    height:40vh;
    width:20vw;
    margin:3%;
    border-radius: 10px;
    margin-left:8%;
}

.secondData{
    /* background-image: linear-gradient(to right top, #3b23df, #4c3ee3, #5d54e6, #6d68e8, #7d7be9, #7c7be9, #7b7aea, #7a7aea, #6766eb, #5451ea, #3e3ae8, #211ce5); */
    height:30vh;
    width:50vw;
    margin:7%;
}
.thrid{
    display: flex;
    height:50vh;
    width:100vw;
    /* background-color: aqua; */
    gap:3rem;
}

.thridpic{
    /* background-color: black; */
    height:40vh;
    width:20vw;
    margin:4%;
    margin-left:8%;
    border-radius: 10px;
}

.thridData{
    /* background-color: brown; */
    height:30vh;
    width:50vw;
    margin:7%;
}
.textdiv h1{
    margin:3%;
    /* margin-left: 12%; */
    /* margin-top: 13%; */
    text-align: center;
    font-size: 4rem;
}
.textdiv h2{
    text-align: center;
    width: 70vw;
    height:5vh;
    font-size: 1.3rem;
    font-weight: 100;
    margin: 2%;
    /* background-color: aquamarine; */
}
.auth-btn {
    border-radius: 5px;
    /* width: 80%; */
    padding: 1rem;
    border: none;
    /* background-color: rgb(236, 104, 17); */
    color: white;
    /* font-family: cursive; */
    margin-left: 29rem;
    margin-top: 5%;
}
.auth-btn:hover{
    background-color: brown;
}
.emergency{
 height:20vh;
    width:100vw;
    background-color: #ba10d0;
    padding: 5px;
}
.fourData{
   text-align: center;
}
.fourPic{
 border-radius: 5px;
   
    padding: 1rem;
    border: none;
    background-color: rgb(236, 104, 17);
    color: white;
    
    margin-left: 36rem;
      text-align: center;
      /* padding-top: 5px; */
}
.fourPic:hover{
    background-color: brown;
}
.navi{
     
    padding: 1.5px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
     /* background-color: aliceblue; */
    justify-content: end;
   
}


.navi ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: end;
    padding-right: 40px;
}


.navi .in{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    font-family: cursive;
    padding: 10px;
    border-radius: 10px;
}

.navi h1 {
    margin: 0; 
    font-family: cursive;
}
.in:hover{
color:yellow
}    

