
.adopt{
    width:80rem;
    height:30rem;
    border-bottom: 0.5rem solid rgb(252, 123, 31);
    margin-left: 80px;
}
.quote-container p{
    position: absolute;
    top: 50%;
    left: 40%;
    padding-top: 10rem;
    padding-left: 5rem;
    color: white;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    text-shadow: 2px;
    text-decoration:solid;
    color: black;
    font-size:1.5rem;
}
.quote-container h2{
    position: absolute;
    padding-top: 35rem;
    padding-left: 20rem;
    color: white;
    font-family:cursive;
    text-shadow: 2px;
    text-decoration:solid;
    color: black;
    font-size:1.5em;
    
}
.quote-container .register-button {
    margin-top: 1rem;
    top: 90%;
    left: 47%;
    position: absolute;
    background-color: #f07f1d;
    font-family: cursive;
    color: rgb(8, 8, 8);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 5px;
    border-radius: 40px;
    transition: transform 0.4s; 
    font-size: 18px;
    margin-right: 1px;
}

.register-button:hover {
    transform: scale(1.2);
    color: rgb(253, 247, 245);
}





