

  #wrapper {
    margin: 0 auto;
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 35rem;
    margin-left:10rem;
  }
  
  .cont {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: 15px;
    display: inline-block;
    box-shadow:
    17.4px 0.9px 10px rgba(0, 0, 0, 0.098),
    139px 7px 80px rgba(0, 0, 0, 0.22)
  ;
    
  }
  
  .cont:hover {
    cursor: crosshair;
  }
  
   img {
    width: 130%; 
    height: auto;
    position: absolute;
     left: 0;
  } 
  
  .title {
    position: absolute;
    width: 200px;
    left: 0;
    text-align: center;
    color: rgb(221, 57, 7);
    font-family:cursive;
    font-size: 2em;
    top: 45px;
    transition: top 0.7s ease-in-out;
    -webkit-transition: top 0.6s ease-in-out;
    z-index: 1;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }
  
  .cont:hover .title {
    top: 18px;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
  }
  
  .cont:hover .overlay {
    opacity: 0.5;
  }
  
  .button {
    position: absolute;
    width: 200px;
    left: 0;
    color: rgb(225, 79, 16);
    top: 130px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out, top 0.5s ease-in;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
  }
  
  .cont:hover .button {
    opacity: 1;
    top: 116px;
  }
  
  .button a {
    color: rgb(244, 66, 12);
    text-decoration: none;
    padding: 0.4em 1em;
    text-align: center;
    border: 2px solid rgb(235, 67, 15);
    z-index: 1;
  }
