

.wrap {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background-image: url("https://img.freepik.com/premium-photo/dog-portrait-studio-with-black-background-generated-by-artificial-intelligence_384104-294.jpg");
     background-repeat: no-repeat;
     background-size:cover ;
    overflow: hidden;
    position:relative;
   
}
.reg{
    height:90vh;
    width:29vw;
    background-color:white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:15px;
    gap:1rem;
    display: flex;
    text-align: center;
   
    box-shadow:
  3.4px 3.4px 2.7px rgba(0, 0, 0, 0.074),
  8.7px 8.7px 6.9px rgba(0, 0, 0, 0.106),
  17.7px 17.7px 14.2px rgba(0, 0, 0, 0.134),
  36.5px 36.5px 29.2px rgba(0, 0, 0, 0.166),
  100px 100px 80px rgba(0, 0, 0, 0.24);
}
.reg h3{
    padding-top: 2px;
    margin-bottom: 25px;
    font-family: cursive;

}
.auth-inputr {
    background-color: #f5f5f7;
    width: 80%;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.auth-btr {
    border-radius: 5px;
    width: 80%;
    padding: 1rem;
    border: none;
    background-color: rgb(54, 28, 11);
    color: white;
    font-family: cursive;
}

.auth-inputr:focus {
    border-bottom: 2px solid rgb(79, 29, 9);
}

.auth-btr:hover {
    background-color: #563225;
}
